@import "../../assets/variables.scss";

.categories-list__section-title {
  padding-left: 5vw;
  padding-top: 5vh;

  @media only screen and (min-width: $breakpoint-desktop) {
    padding-left: 24px;
  }

  .categories-list__section-name {
    color: $important-text-color;
  }
}
