@import "../../assets/variables.scss";

.featured-list__title {
  padding-left: 5vw;
  padding-top: 45px;
  display: none;

  @media only screen and (min-width: $breakpoint-desktop) {
    padding-left: 24px;
    display: inline-block;
  }
}
