@import "../../assets/variables.scss";

.latest-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  height: 80px;
  background-color: $secondary-background-color;
  padding: 12px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: 0;
    height: 1px;
    width: 90%;
    border-bottom: 1px solid rgba(126, 126, 126, 0.1);
  }

  @media only screen and (min-width: $breakpoint-desktop) {
    width: 100%;
  }

  .latest-card__time,
  .latest-card__title {
    background-color: inherit;
  }
  .latest-card__time {
    color: $secondary-text-color;
    padding-bottom: 4px;
    font-size: 13px;
    font-weight: bold;
  }
  .latest-card__title {
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
