@import "../variables.scss";

.card-list {
  @media only screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
