@import "../variables.scss";

.categories-title {
  padding-left: 5vw;
  padding-top: 5vh;

  @media only screen and (min-width: $breakpoint-desktop) {
    padding-left: 24px;
  }

  .categories-title-red {
    color: $important-text-color;
  }
}
