.category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    .category-icon {
        background-color: inherit;
        padding-bottom: 5px;
    }
}
