@import "../variables.scss";

.desktop-news-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  .desktop-news-featured {
    @media only screen and (min-width: $breakpoint-desktop) {
      max-width: 420px;
    }
    @media only screen and (min-width: $breakpoint-medium) {
      max-width: 820px;
    }
    @media only screen and (min-width: $breakpoint-large) {
      max-width: 920px;
    }
  }
}
