@import "../variables.scss";

.desktop-nav__category-list {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 13px;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 4px;
    text-decoration: none;
    color: $dark-gray-color;
    font-weight: bold;
    transition: 0.5s all;
  }
}
