@import "../variables.scss";

.header {
    .news-option-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .news-option {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 32px 24px 16px 24px;
            width: 110px;
            height: 42px;
            border-radius: 20px;
        }
        .news-option-active {
            background-color: $important-background-color;
            color: $important-text-color;
        }
    }
}
