@import "../variables.scss";

.latest-container {
  width: 90vw;
  height: 60vh;
  background-color: $secondary-background-color;
  margin: auto 5vw;
  border-radius: 10px;
  .latest-container-upper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
    padding-top: 16px;
    padding-left: 12px;
    border-radius: inherit;
    .live-circle {
      width: 25px;
      height: 25px;
      background-color: inherit;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        position: absolute;
        width: 150%;
        height: 150%;
        background-color: rgba(187, 30, 30, 0.35);
        border-radius: 50%;
        animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      }
      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 50%;
        background-color: $important-text-color;
        animation: circle 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
        border-radius: 50%;
      }
    }
    .latest-container-title {
      background-color: inherit;
      border-radius: inherit;
      padding-left: 8px;
    }
  }
  .scrollable-div {
    height: 500px;
    overflow: auto;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.33);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
