@import "../variables.scss";

.mobile-header {
  .search-input {
    width: 90vw;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: $secondary-background-color;
    margin: 115px 5vw 16px 5vw;
    font-size: 16px;
    padding: 16px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);

    @media only screen and (min-width: $breakpoint-desktop) {
      width: 700px;
    }
  }
  .news-option-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: $breakpoint-desktop) {
      display: none;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 32px 24px 16px 24px;
      width: 110px;
      height: 42px;
      border-radius: 20px;
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      font-size: 20px;
      transition: 0.5s all;
    }
  }
}
