@import "../variables.scss";

input {
  width: 90vw;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: $secondary-background-color;
  margin: 16px 5vw;
  font-size: 16px;
  padding: 16px;
}
