@import "../../assets/variables.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;

  .mobile-nav__header-title {
    padding: 16px 5vw 16px 5vw;
    .mobile-nav__header-title-important {
      color: $important-text-color;
    }
  }

  .mobile-menu__btn {
    padding: 16px 5vw 16px 5vw;
    z-index: 5;
    .menu-icon__top-bar,
    .menu-icon__middle-bar,
    .menu-icon__bottom-bar {
      width: 30px;
      height: 4px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
  }

  .mobile-menu__container {
    display: none;
    z-index: 3;
    animation: 0.5s slide;
  }

  .mobile-menu__active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    .mobile-menu__btn {
      width: 100%;
      padding-left: 87vw;
      padding-top: 16px;
    }
    .mobile-menu__content {
      animation: 1s appear;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 80px;
      .mobile-menu__title {
        margin: 50px auto;
        .mobile-menu__title-important {
          color: $important-text-color;
        }
      }
      .mobile-menu__search-input {
        width: 90vw;
        height: 50px;
        border: none;
        border-radius: 10px;
        background-color: $secondary-background-color;
        margin: 16 5vw;
        font-size: 16px;
        padding: 16px;
        text-align: left;
        color: rgba(0, 0, 0, 0.6);
        &:focus {
          outline: none;
        }
      }
      .mobile-menu__category-list {
        margin: 30px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90px;
          height: 90px;
          border-radius: 10px;
          margin: 8px;
          text-decoration: none;
          color: $dark-gray-color;
          font-weight: bold;
          transition: 0.5s all;
        }
      }
    }
  }
}

.change-top {
  transform: translate(0, 10px) rotate(-45deg);
}
.change-middle {
  opacity: 0;
}
.change-bottom {
  transform: translate(0, -10px) rotate(45deg);
}

@keyframes slide {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
